# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_df1 = pd.read_csv("output_data/cities.csv")
city_df_col = city_df1.rename(columns={"Unnamed: 0": "City ID"})
city_df = city_df_col.set_index(["City ID"])
city_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City ID,,,,,,,,,
0,Port Macquarie,-31.4333,152.9167,53.56,46,0,4.59,AU,1630192375
1,Punta Arenas,-53.1500,-70.9167,39.31,87,75,10.36,CL,1630192376
2,Rikitea,-23.1203,-134.9692,73.74,72,0,19.86,PF,1630192376
3,Chokurdakh,70.6333,147.9167,36.03,96,100,7.61,RU,1630192377
4,Kapaa,22.0752,-159.3190,82.67,64,1,5.01,US,1630192160
...,...,...,...,...,...,...,...,...,...
546,Touros,-5.1989,-35.4608,79.70,81,98,16.67,BR,1630192377
547,Mudgee,-32.5943,149.5871,46.45,76,40,4.61,AU,1630192592
548,Mallaig,54.2169,-111.3685,68.68,50,75,6.60,CA,1630192593
549,Mackay,-21.1500,149.2000,76.05,78,30,1.45,AU,1630192593
550,Thanatpin,17.2119,96.3033,82.58,91,100,4.97,MM,1630192594

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
locations = city_df[["Lat","Lng"]]
weights = city_df["Humidity"]

In [4]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
city_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City ID,,,,,,,,,
0,Port Macquarie,-31.4333,152.9167,53.56,46,0,4.59,AU,1630192375
1,Punta Arenas,-53.1500,-70.9167,39.31,87,75,10.36,CL,1630192376
2,Rikitea,-23.1203,-134.9692,73.74,72,0,19.86,PF,1630192376
3,Chokurdakh,70.6333,147.9167,36.03,96,100,7.61,RU,1630192377
4,Kapaa,22.0752,-159.3190,82.67,64,1,5.01,US,1630192160
...,...,...,...,...,...,...,...,...,...
546,Touros,-5.1989,-35.4608,79.70,81,98,16.67,BR,1630192377
547,Mudgee,-32.5943,149.5871,46.45,76,40,4.61,AU,1630192592
548,Mallaig,54.2169,-111.3685,68.68,50,75,6.60,CA,1630192593
549,Mackay,-21.1500,149.2000,76.05,78,30,1.45,AU,1630192593
550,Thanatpin,17.2119,96.3033,82.58,91,100,4.97,MM,1630192594

In [6]:
hotel_df1 = city_df.loc[(city_df["Max Temp"] >=70) & (city_df["Max Temp"] < 80) & (city_df["Wind Speed"] <10) & (city_df["Cloudiness"] == 0),:]
hotel_df = hotel_df1.copy()
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City ID,,,,,,,,,
147,Kiryat Gat,31.6100,34.7642,77.95,79,0,3.33,IL,1630192432
163,Tiznit Province,29.5833,-9.5000,74.34,38,0,3.60,MA,1630192437
263,Syracuse,37.0881,15.2792,76.91,65,0,0.92,IT,1630192476
293,Panórama,40.5878,23.0315,72.99,77,0,1.99,GR,1630192488
329,Kropotkin,45.4375,40.5756,74.26,61,0,6.44,RU,1630192511
414,Mahon,39.8885,4.2658,70.36,56,0,5.75,ES,1630192544
421,Bani Walid,31.7566,13.9942,76.23,50,0,3.71,LY,1630192547
425,Qiongshan,20.0058,110.3542,78.78,94,0,6.71,CN,1630192548

In [7]:
len(hotel_df)

8

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df["Hotel Name"] = ""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
City ID,,,,,,,,,,
147,Kiryat Gat,31.6100,34.7642,77.95,79,0,3.33,IL,1630192432,
163,Tiznit Province,29.5833,-9.5000,74.34,38,0,3.60,MA,1630192437,
263,Syracuse,37.0881,15.2792,76.91,65,0,0.92,IT,1630192476,
293,Panórama,40.5878,23.0315,72.99,77,0,1.99,GR,1630192488,
329,Kropotkin,45.4375,40.5756,74.26,61,0,6.44,RU,1630192511,
414,Mahon,39.8885,4.2658,70.36,56,0,5.75,ES,1630192544,
421,Bani Walid,31.7566,13.9942,76.23,50,0,3.71,LY,1630192547,
425,Qiongshan,20.0058,110.3542,78.78,94,0,6.71,CN,1630192548,

In [9]:
from os import path
if not path.exists("output_data/cities.csv"):
    print("-----------------------")
# params dictionary to update each iteration
hotel_df
params = {  
        "diameter":5000,
        "rankby": "distance",
        "type": "hotel",
        "key": g_key,
    }
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
for index, row in hotel_df.iterrows():
        # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    if row["Hotel Name"]=="":
        # change location each iteration while leaving original params in place
        params["location"] = f"{lat},{lng}"      

        # make request and print url
        hotel_address = requests.get(base_url, params=params)

        print(f"{row['City']} {row['Country']}")
        print(hotel_address.url)
        #break

        # convert to json
        hotel_json = hotel_address.json()
        hotel_df.loc[index, "Hotel Name"] = hotel_json["results"][0]["name"]
        #print(json.dumps(hotel_json["results"][0], indent=4, sort_keys=True))

Kiryat Gat IL
https://maps.googleapis.com/maps/api/place/nearbysearch/json?diameter=5000&rankby=distance&type=hotel&key=AIzaSyCwteyHu_6zvaPMKBQg08L7iD1vdMlCKhQ&location=31.61%2C34.7642
Tiznit Province MA
https://maps.googleapis.com/maps/api/place/nearbysearch/json?diameter=5000&rankby=distance&type=hotel&key=AIzaSyCwteyHu_6zvaPMKBQg08L7iD1vdMlCKhQ&location=29.5833%2C-9.5
Syracuse IT
https://maps.googleapis.com/maps/api/place/nearbysearch/json?diameter=5000&rankby=distance&type=hotel&key=AIzaSyCwteyHu_6zvaPMKBQg08L7iD1vdMlCKhQ&location=37.0881%2C15.2792
Panórama GR
https://maps.googleapis.com/maps/api/place/nearbysearch/json?diameter=5000&rankby=distance&type=hotel&key=AIzaSyCwteyHu_6zvaPMKBQg08L7iD1vdMlCKhQ&location=40.5878%2C23.0315
Kropotkin RU
https://maps.googleapis.com/maps/api/place/nearbysearch/json?diameter=5000&rankby=distance&type=hotel&key=AIzaSyCwteyHu_6zvaPMKBQg08L7iD1vdMlCKhQ&location=45.4375%2C40.5756
Mahon ES
https://maps.googleapis.com/maps/api/place/nearbysearch/json?diameter=5000&rankby=distance&type=hotel&key=AIzaSyCwteyHu_6zvaPMKBQg08L7iD1vdMlCKhQ&location=39.8885%2C4.2658
Bani Walid LY
https://maps.googleapis.com/maps/api/place/nearbysearch/json?diameter=5000&rankby=distance&type=hotel&key=AIzaSyCwteyHu_6zvaPMKBQg08L7iD1vdMlCKhQ&location=31.7566%2C13.9942
Qiongshan CN
https://maps.googleapis.com/maps/api/place/nearbysearch/json?diameter=5000&rankby=distance&type=hotel&key=AIzaSyCwteyHu_6zvaPMKBQg08L7iD1vdMlCKhQ&location=20.0058%2C110.3542

In [10]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
City ID,,,,,,,,,,
147,Kiryat Gat,31.6100,34.7642,77.95,79,0,3.33,IL,1630192432,בית כנסת
163,Tiznit Province,29.5833,-9.5000,74.34,38,0,3.60,MA,1630192437,Mosquée
263,Syracuse,37.0881,15.2792,76.91,65,0,0.92,IT,1630192476,L'Isola Degli Antichi Sapori Di Musco Carbonar...
293,Panórama,40.5878,23.0315,72.99,77,0,1.99,GR,1630192488,Ekklisia Analipsi
329,Kropotkin,45.4375,40.5756,74.26,61,0,6.44,RU,1630192511,Pensionnyy Fond Rf
414,Mahon,39.8885,4.2658,70.36,56,0,5.75,ES,1630192544,Vil-la Inmobiliaria
421,Bani Walid,31.7566,13.9942,76.23,50,0,3.71,LY,1630192547,Kindergarten flowers of life - Bani Walid
425,Qiongshan,20.0058,110.3542,78.78,94,0,6.71,CN,1630192548,嚐嚐久久台式餐厅

In [13]:
#Configure Heatmap
gmaps.configure(api_key=g_key)
locations = city_df[["Lat","Lng"]]
weights = city_df["Humidity"]

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [15]:
weights = hotel_df["Humidity"]

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=3)

markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
# Add layer
fig.add_layer(heat_layer)

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))